#singleproduct-container{
    padding: 35px 0 0 55px;
    background: #FFFFFF;
}

.singleproduct-container-flex{
    display: flex;
    justify-content: space-between;
    gap: 82PX;
}

.singleproduct-container-images-box-flex{
   display: flex;
   justify-content: left;
   column-gap: 31px;
}

.singleproduct-container-small-images-box-flex{
    display: flex;
    justify-content: left;
    flex-direction: column;
    row-gap: 32px;
}

.singleproduct-container-small-box{
    width: 76px;
    height: 80px;
    overflow: hidden;
    background: #F9F1E7;
}

.singleproduct-container-small-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.singleproduct-container-big-images-box{
    width: 423px;
    height: 500px;
    overflow: hidden;
    background: #F9F1E7;
    border-radius: 10px;
}

.singleproduct-container-big-images-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.singleproduct-container-contant-box{
    text-align: left;
}

.singleproduct-container-contant-head{
    font-size: 42px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 10px;
}

.singleproduct-container-contant-price{
    font-size: 24px;
    font-weight: 500;
    color: #9F9F9F;
}

.singleproduct-conatiner-star-box-flex{
    margin-top: 10px;
    column-gap: 40px;
}

.singleproduct-container-star-box{
    display: flex;
    align-items: center;
    justify-content: left;
    column-gap: 7px;
}

.singleproduct-container-reviews-box{
    text-align: left;
    position: relative;
}

.singleproduct-container-reviews-box::after{
    content: "";
    position: absolute;
    left: -22px;
    top: 0;
    width: 1px;
    height: 120%;
    background: #9F9F9F;
}

.singleproduct-container-reviews-contant{
    font-size: 13px;
    font-weight: 400;
    color: #9F9F9F;
}

.singleproduct-container-details{
    font-size: 13px;
    font-weight: 400;
    color: #000000;
    margin-top: 18px;
    width: 424px;
    line-height: 150%;
}

.singleproduct-container-size-box{
    margin-top: 22px;
    text-align: left;
}

.singleproduct-container-size-box-head{
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    color: #9F9F9F;
}

.singleproduct-conatiner-star-box-flex{
    display: flex;
    align-items: center;
    justify-content: left;
    column-gap: 40px;
    color: #dba308;
}

.singleproduct-container-sixe-box-flex{
    display: flex;
    align-items: center;
    justify-content: left;
    column-gap: 16px;
    margin-top: 12px;
}

.singleproduct-container-sixe{
    font-size:13px ;
    font-weight: 400;
    color: #000000;
    cursor: pointer;
    background: #F9F1E7;
    padding: 5px 12px;
    border-radius:5px;
    text-transform: uppercase;
    border: none;
}

.singleproduct-container-sixe:hover{
    color: #FFFFFF;
    background: #B88E2F;
    transition: all linear 0.3s;
}

.singleproduct-container-color-box{
    margin-top: 18px;
}

.singleproduct-container-color-box-head{
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    color: #9F9F9F;
}

.singleproduct-container-cart-box-flex{
    display: flex;
    align-items: center;
    justify-content: left;
    column-gap: 14px;
    margin-top: 32px;
}

.singleproduct-container-cound-box-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 15px;
    text-align: left;
    column-gap: 35px;
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #9F9F9F;
}

.singleproduct-container-cound-box-flex button {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    cursor: pointer;
    border: none;
}

.singleproduct-container-cound{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

.singleproduct-container-add-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.singleproduct-container-add-cart-btn{
    padding: 17px 48px;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    cursor: pointer;
    background: #FFFFFF;
    border: 1px solid #9F9F9F;
    border-radius: 10px;
    text-transform: capitalize;
}

.singleproduct-container-compare-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.singleproduct-container-compare-btn{
    padding: 17px 48px;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    cursor: pointer;
    background: #FFFFFF;
    border: 1px solid #9F9F9F;
    border-radius: 10px;
    text-transform: capitalize;
}

.singleproduct-mini-details-box{
    display: flex;
    justify-content: left;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 101px;
    position: relative;
}

.singleproduct-mini-details-box ::after{
    content: "";
    position: absolute;
    left: 0;
    top: -41px;
    width: 100%;
    height: 1px;
    background: #9F9F9F;
}

.singleproduct-mini-contant-box-flex{
    display: flex;
    justify-content: left;
    align-items: center;
    column-gap: 12px;
}

.singleproduct-mini-contant-s{
    font-size: 16px;
    font-weight: 400;
    color: #9F9F9F;
    text-transform: capitalize;
}

.singleproduct-mini-contant-v{
    font-size: 16px;
    font-weight: 400;
    color: #9F9F9F;
    text-transform: capitalize;
}

.singleproduct-mini-icon-box-flex{
    display: flex;
    justify-content: left;
    align-items: center;
    column-gap: 12px;
}

.singleproduct-mini-icon-flex{
    display: flex;
    justify-content: left;
    align-items: center;
    column-gap: 25px;
}

.singleproduct-mini-icon{
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    color: #000000;
    font-size: 20px;
}