#verified{
    background: white;
    padding: 100px 0;
}

.verified-container{
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.verified-container-head{
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.verified-btn{
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    background: rgb(66, 163, 192);
    border-radius: 10px;
    text-transform: capitalize;
}
