#contact-baner{
    width: 100%;
    height: 316px;
    position: relative;
}
#contact-baner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-baner-contant-wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}

.contact-baner-img-box{
    width: 77px;
    height: 77px;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-baner-img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-baner-head{
    font-size: 48px;
    font-weight: 500;
    color: #000000;
    text-transform: capitalize;
}

.contact-baner-link-box-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 6px;
    margin-top: 4px;
}

.contact-baner-link-box-flex a{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    cursor: pointer;
    text-transform: capitalize;

}