#forgetpassword{
   background: floralwhite;
}
.forgetpass-containt-wrapper{
    padding: 50px 0;
}

.forgetpass-logo-box{
    width: 205px;
    height: 45px;
    overflow: hidden;
}

.forgetpass-logo-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.forgetpass-form-box{
    width: 600px;
    height: 700px;
    background: #fff;
    border-radius: 10px;
    margin: 100px auto;
    padding: 50px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}

.forgetpass-contant-box{
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.forgetpass-img-box{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.forgetpass-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.forgetpassword-head{
    font-size: 32px;
    font-weight: 700;
    color: #000;
    text-transform: capitalize;
    margin-top: 20px;
}

.fogetpaee-pera{
    font-size: 16px;
    font-weight: 400;
    color: #413636;
    margin-top: 10px;
}

.forgetpass-email-style{
    font-size: 18px;
    font-weight: 500;
    color: #0a0a0a;
    margin-bottom: 15px;
}

.forgetpass-email-input-box{
    width: 100%;
}

.forgetpass-email-input{
    width: 100%;
    padding: 10px 30px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #1b1919;
    outline: none;
}

.forgetpass-pass-style{
    font-size: 18px;
    font-weight: 500;
    color: #0a0a0a;
    margin: 15px 0;
}

.forgetpass-newpass-input-box{
    width: 500px;
    position: relative;
}

.forgetpass-newpass-input{
    width: 100%;
    padding: 10px 30px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #1b1919;
    outline: none;
}

.forget-open_eye {
    position: absolute;
    right: 20px;
    top: 12px;
}

.forget-closs_eye{
    position: absolute;
    right:20px;
    top: 12px;
}

.forgetpass-button-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.forgetpass-button{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    background: rgb(13, 173, 13);
    padding: 15px 30px;
    border-radius: 15px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
}

.ovalforget{
    color: #fff;
    background: rgb(13, 173, 13);
    padding: 15px 60px;
    border-radius: 15px;
}

.forget-back-login-box{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    margin-top: 20px;
}

.forget-back-login{
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    color: #000;
    text-transform: capitalize;
}
